body {
  font-family: Trebuchet MS, Lucida Grande, Tahoma, Verdana, Arial, sans-serif;
  font-size: 13px;
  background: white;
  color : black;
  text-align: left;
  margin: 0px;
}
#page {
}
a {
  color: black;
  text-decoration: underline;
}
a:visited {
  color: #404040;
}

#body {
}
#header {
  color: black;
  font-weight: normal;
  text-align: center;
  margin-bottom: 32px;
}
#navigation {
  display: none;
}
#linearNavigation {
  display: none;
}
#promotionalBlock {
  color: black;
  padding-top: 10px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 11px;
  height: 75px;
}
#promotionalBlock a {
  color: black;
}
.promotionalBlockTitle {
  font-size: 18px;
  margin-bottom: 8px;
}
#homeNavigation {
  display: none;
}
#content {
}
#sidebar {
  display: none;
}
#footer {
  display: none;
}
.sidebarItem {
}
.sidebarItemTitle {
}
.sidebarItemTitle span {
}
.sidebarItemBody {
}
#search {
  display: none;
}
h1 {
  font-size: 20px;
  font-weight: normal;
  color : black;
  border-bottom: #f0f0f0 solid 1px;
  margin-bottom: 8px;
  padding-bottom: 4px;
}
h1 a:link, h1 a:visited {
  color : black;
  text-decoration: none;
}
h2 {
  font-size: 13px;
  font-weight: bold;
  color: black;
  margin: 0px;
}
h3 {
  font-size: 13px;
  font-weight: bold;
  color: black;
  margin: 0px;
}
.contentItem {
}
.contentItemBody {
  line-height: 1.5;
  text-align: left;
}
.contentItemLinks {
  float: right;
  text-align: right;
  font-size: 11px;
  color: gray;
}
.contentItemLinks form {
  padding: 0px;
  margin: 0px;
}
.contentItemLinks a {
  color: gray;
}
.even {
  background: #F4F4F4;
}
.odd {
  background: white;
}
.small {
  font-size: 11px;
}
.response {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 30px;
  padding-right: 16px;
  margin-bottom: 4px;
}
.response h1 {
  font-size: 12px;
  font-weight: normal;
  background: transparent;
  padding-left: 0px;
}
.responseBody {
  line-height: 1.5;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: left;
}
.metadata, .metadata a {
  font-size: 11px;
  color: gray;
  line-height: 1.5em;
  padding-top: 0px;
}
.approved {
}
.pending {
  background: transparent url('images/pending.gif') no-repeat top left;
  border: solid orange 1px;
}
.rejected {
  background: transparent url('images/rejected.gif') no-repeat top left;
  border: solid red 1px;
}
.published {
}
.unpublished {
}
blockquote {
  padding-top: 8px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  color: gray;
  margin-left: 48px;
  margin-right: 48px;
}
.tags, .categories {
  border: solid #F0F0F0 1px;
  margin: 16px;
  padding: 4px;
  background: #F8F8F8;
  font-weight: normal;
  text-align: center;
} 
.tags span {
  display: none;
}
.tags a, .categories a {
  color: gray;
  font-weight: normal;
  text-decoration: none;
}
.tags a:hover, .categories a:hover {
  color: white;
  background: gray;
  font-weight: normal;
  text-decoration: none;
}
.tagCloud {
  font-size: 24px;
  line-height: 1.0em;
  text-align: center;
}
.sidebarTagCloud {
  background: gray;
  color: white;
  font-size: 22px;
  line-height: 1.0em;
  text-align: center;
  clear: both;
}
.sidebarTagCloud a {
  color: white;
}
.tagCloud1 {
  font-size: 0.5em;
}
.tagCloud2 {
  font-size: 0.6em;
  font-weight: bold;
}
.tagCloud3 {
  font-size: 0.65em;
  font-weight: bold;
}
.tagCloud4 {
  font-size: 0.7em;
  font-weight: bold;
}
.tagCloud5 {
  font-size: 0.75em;
  font-weight: bold;
}
.tagCloud6 {
  font-size: 0.8em;
  font-weight: bold;
}
.tagCloud7 {
  font-size: 0.85em;
  font-weight: bold;
}
.tagCloud8 {
  font-size: 0.9em;
  font-weight: bold;
}
.tagCloud9 {
  font-size: 1.0em;
  font-weight: bold;
}
.tagCloud10 {
  font-size: 1.2em;
  font-weight: bold;
}
.tagCloud ul, .sidebarTagCloud ul {
  padding: 8px;
  margin: 0px;
}
.tagCloud li, .sidebarTagCloud li {
  display: inline;
  margin: 0px;
  padding: 0px;
  white-space: nowrap;
}
.tagCloud a, .sidebarTagCloud a {
  text-decoration: none;
}
.tagCloud a:hover {
  color: white;
  background: #6e7d8e;
}
.sidebarTagCloud a:hover {
  color: gray;
  background: white;
}

.calendar {
  padding-left: 8px;
  padding-right: 8px;
}
.calendarDayHeader {
  font-weight: bold;
  text-align: right;
}
.calendarDay {
  text-align: right;
  padding: 2px;
}
.calendarDayWithEntries {
  background: gray;
  text-align: right;
  padding: 2px;
}
.calendarDayWithEntries a {
  font-weight: bold;
  color: white;
  text-decoration: none;
}
.calendarDayWithEntries:hover {
  color: white;
  background: #6e7d8e;
}
.calendarToday {
  background : #6e7d8e;
  color: white;
  text-align: right;
  padding: 2px;
  font-weight: bold;
}
.calendarToday a {
  font-weight: bold;
  color: white;
  text-decoration: none;
}
.photo {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  border: solid black 1px;
  text-align: center;
}
.codeSample {
  font-family: Courier, sans-serif;
  font-size: 11px;
  border: solid #F0F0F0 1px;
  text-align: left;
  background: #F8F8F8;
  margin-left: 8px;
  margin-right: 8px;
  padding: 8px;
  overflow: auto;
}
#mainNavigation {
  background: #6e7d8e;
  color: white;
  font-weight: normal;
  text-align: left;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 18px;
  padding-right: 8px;
}
#mainNavigation a{
  color: white;
}
#feeds {
  position: absolute;
  top: 8px;
  right: 8px;
  color: white;
}
#feeds a {
  color: white;
  text-decoration: none;
}
#feeds a:hover {
  text-decoration: underline;
}
thead {
  text-align: left;
  background: #6e7d8e;
  color: white;
}
th {
  font-weight: normal;
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
}
th a:link, th a:visited {
  font-weight: normal;
  color: white;
}
.authenticated {
  background: transparent url( 'images/authenticated.gif' ) no-repeat center left;
  padding-left: 10px;
}
.unauthenticated {
}
.breakout {
  background: #c0c0c0;
  padding: 8px;
}
.bookFigure {
  text-align: center;
}
#admin {
  display: none;
}
#messages {
  display: none;
}
.inlineAdminLinks {
  display: none;
}
#postContentPrint {
  text-align: center;
  display: block;
}
#blogName {
  display: block;
}
#blogName span {
  font-size: 20px;
  display: block;
}
#blogDescription {
  font-size: 13px;
}